{
"supportedSpecies" : [ "standard", "penguin" ],

"animalSpecies" : [ "penguin" ],
//For race mods that do not use head, chest, or back items. They only use pants items for their outfits. These species normally are quadruped or if bipedal, still do not use arm frames.

"customBodySpecies" : [],
//For race mods that do not follow the vanilla shape. If any head features or body features that break the vanilla outline exist on the species. They cannot even use vanilla back items due to their unique shape.

"customHeadChestLegSpecies" : [],
//For race mods that do not follow vanilla shape at all but can wear vanilla back items with no problems.

"customChestLegSpecies" : [],
//For race mods with a different chest and legs but uses vanilla head shape. Can wear vanilla hats with no problem.

"customHeadLegSpecies" : [],
//For race mods with a different head and different legs but have the vanilla torso. Can wear vanilla chest items with no alterations.

"customLegSpecies": [],
//For race mods with a vanilla head and vanilla torso but have a different leg shape. Can wear vanilla head and chest items with no alterations.

"customChestSpecies": [],
//For race mods with the vanilla head shape and vanilla legs shape but have a different chest shape, that or use differently animated arms. Can wear vanilla head items and vanilla leg items with no alterations.

"customHeadSpecies" : [],
//For race mods with vanilla body shape but different head shape that won't fit most head items

"vanillaBodySpecies" : [ "apex", "avian", "fenerox", "floran", "glitch", "human", "hylotl", "novakid", "shadow" ],

"armorAdaptEffects" : [ "armorAdapt_resetBody" ], 
//entire outfit
"armorAdaptHeadEffects" : [],
//only head items
"armorAdaptChestEffects" : [],
//only chest items
"armorAdaptLegEffects" : [],
//only leg items
"armorAdaptBackEffects" : [],
//only back items

//used to override the body type of the armor to change an armor's appearance. Adds the effect name to the end of the regular body type to count as a different body type still under the same species. Used in the creation of armors that can switch forms or modes but still considers the different species and body types.

"armorAdaptForceEffects" : [ "armorAdapt_Swap" ],
//entire outfit
"armorAdaptHeadForceEffects" : [],
//only head items
"armorAdaptChestForceEffects" : [],
//only chest items
"armorAdaptLegForceEffects" : [],
//only leg items
"armorAdaptBackForceEffects" : [],
//only back items

//used to override the species listed but not body type to change an armor's appearance. Adds the effect name onto the end of the regular species name to count as a different species but still uses the body type or types for that species. Can be used to apply specific outfits with different looks for different species and body types. These outfits being the only option for appearance while effect is active. An example would be forcing a dunce costume for a joke that conforms to body shape.

"armorAdaptOverrideEffects" : ["armorAdapt_Override"], 

//used to override both the species and body type to change an armor's appearance. Completely replaces the species name with the effect name and sets the body type to Default. Hiding the body is turned on and only the images for the different appearance are shown. Can be used for costumes or disguises.

"armorAdaptHolidayEffects" : ["hotHolidayEvent"],

"adaptDirectivesMin" : 200, //the minimum character length of a directives recolor list to prevent image swapping. Can be adjusted to fit needs.

"AdaptAnimationSpriteCategories" : {
	"dynamic" : []
},

"showStartUp" : false,
"showShutDown" : false,
"showCustomItemSkip" : false,

"showPlayerSpecies" : true,
"showPlayerBodyType" : false,
"showPlayerArmor" : true,
"showPlayerSupportedItem" : true,
"showPlayerBuildInfo" : false,
"showPlayerBuildCompletion" : false,

"showNpcSpecies" : false,
"showNpcBodyType" : false,
"showNpcArmor" : false,
"showNpcSupportedItem" : false,
"showNpcBuildInfo" : false,
"showNpcBuildCompletion" : false,

"armorAdaptBuilderVersion" : 5

}
