{
"supportedSpecies" : [ "standard", "penguin" ],

"vanillaBodySpecies" : [ "apex", "avian", "fenerox", "floran", "glitch", "human", "hylotl", "novakid", "shadow" ],

"adaptSpeciesSettings" : { 
	"standard" : { "head" : "standard", "chest" : "standard", "pants" : "standard", "back" : "standard", "spriteLibrary" : "default" },
	"penguin" : { "head" : "null", "chest" : "null", "pants" : "penguin", "back" : "null", "spriteLibrary" : "default" }
},
//2.0 version of patching a species in. Allows you to choose the name of the folder(<class>) the alt images will be stored in per outfit type items/armors/<library>/<item>/<class>/<subtype>. This way shared folders can be made for species that have outfits that fit one another cutting down on work and duplicates. Also allows you to have more control of organization of your images. "spriteLibrary" allows you to change the main <library> of images the species pulls from. This for things like clothing resprites and different body standards (Femboy edits, flat chested edits, Neki animation, EBS, etc). This allows separate libraries of images for outfits for these opt-in body changes so the outfits do not get overriden for any species you have that don't have that standard or don't want the clothing reskin.

"adaptSpeciesSubTypeScripts" : { },
//If a species has options in character creation that change the shape of the body, be it head accesories, part of anatomy, or recoloring the sprite to change the shape of the body where alt images within the own species is needed for clothing, this allows you to patch in a script to detect these and Armor Adapt be able to have alt images to fit these.

"armorAdaptTransformativeEffects" : [ "armorAdapt_reset" : { "effectName" : "armorAdapt_resetBody", "head" : 1, "chest" : 1, "legs" : 1, "back" : 1, "setting" : "stack", "singleFolder" : "armorAdapt_reset", "modifier" : "reset"} ],
//2.0 version of armorAdaptEffects, status effects are now an index and the table for the status effect determines what outfit slot it affects 1 for active and 0 for ignore.
//"stack" allows stacking of modifier names for combined folder names. 
//"override" renders stacking types inert and forces it's change. 
//"disguise" renders player invisible and ovverides even override type.
//"classEdit" changes the species/class recognized to the effect name for very specific folder name uses. Gets along with stack and override but is overriden by disguise.
//"singleFolder" is used for status effects that don't want to have alt images for every item out there to go with the effect but instead want a specified set of images in a custom folder named after the status effect. <item> in /items/armors/<library>/<item>/<class>/<subType> becomes the name of what you define. Leave empty "" if you want it to affect all items.
//"modifier" is the addition you want to add onto folder names or the class to change specify the folder edit
// "singleFolder" : "folder" and "modifier" : "" creates /items/armors/<library>/<class>/folder/<subtype>/(images)
// "singleFolder" : "" and "modifier" : "mod" creates in stack /items/armors/<library>/<species>/<item>/<subType>+"mod"+<other stacks>/(images)

"adaptDirectivesMin" : 200, //the minimum character length of a directives recolor list to prevent image swapping. Can be adjusted to fit needs.

//Allows the swapping of image library for alternate body shapes or animations. By default the library is "armorAdapt", meant for generic image swaps to fit a species. Although for mods that change sprites into a new image standard or animation standard, a species patched into this category will change their library to fit these changes. Examples being the EBS mods that enforce a new sprite standard on species or the Neki race mod who have additional physics to the body that do not work with base standard clothing. This to help mods who do this to form a more cohesive standard in their communities, as well as making such body changes opt-in for outfits. Species not patched into these libraries will use the armor adapt library or library they are already in, thus won't be forced to wear outfits that don't fit. "dynamic" : ["apex": true] example

//Debug

"showStartUp" : false,
"showShutDown" : false,
"showCustomItemSkip" : false,

"showPlayerSpecies" : false,
"showPlayerBodyType" : true,
"showPlayerArmor" : false,
"showPlayerSupportedItem" : false,
"showPlayerBuildInfo" : false,
"showPlayerBuildCompletion" : false,

"showNpcSpecies" : false,
"showNpcBodyType" : false,
"showNpcArmor" : false,
"showNpcSupportedItem" : false,
"showNpcBuildInfo" : false,
"showNpcBuildCompletion" : false,

"allowLegacyTransformativeEffects" : false,

"armorAdaptBuilderVersion" : 10,

///////////////////////////////////////////////////legacy settings////////////////////////////////////////

"animalSpecies" : [ "penguin" ],
//For race mods that do not use head, chest, or back items. They only use pants items for their outfits. These species normally are quadruped or if bipedal, still do not use arm frames.

"customBodySpecies" : [],
//For race mods that do not follow the vanilla shape. If any head features or body features that break the vanilla outline exist on the species. They cannot even use vanilla back items due to their unique shape.

"customHeadChestLegSpecies" : [],
//For race mods that do not follow vanilla shape at all but can wear vanilla back items with no problems.

"customChestLegSpecies" : [],
//For race mods with a different chest and legs but uses vanilla head shape. Can wear vanilla hats with no problem.

"customHeadLegSpecies" : [],
//For race mods with a different head and different legs but have the vanilla torso. Can wear vanilla chest items with no alterations.

"customLegSpecies": [],
//For race mods with a vanilla head and vanilla torso but have a different leg shape. Can wear vanilla head and chest items with no alterations.

"customChestSpecies": [],
//For race mods with the vanilla head shape and vanilla legs shape but have a different chest shape, that or use differently animated arms. Can wear vanilla head items and vanilla leg items with no alterations.

"customHeadSpecies" : [],
//For race mods with vanilla body shape but different head shape that won't fit most head items

"armorAdaptEffects" : [ "armorAdapt_resetBody" ], 
//entire outfit
"armorAdaptHeadEffects" : [],
//only head items
"armorAdaptChestEffects" : [],
//only chest items
"armorAdaptLegEffects" : [],
//only leg items
"armorAdaptBackEffects" : [],
//only back items

//used to override the body type of the armor to change an armor's appearance. Adds the effect name to the end of the regular body sub type to count as a different body type still under the same species. Used in the creation of armors that can switch forms or modes but still considers the different species and body types.

"armorAdaptForceEffects" : [ "armorAdapt_Swap" ],
//entire outfit
"armorAdaptHeadForceEffects" : [],
//only head items
"armorAdaptChestForceEffects" : [],
//only chest items
"armorAdaptLegForceEffects" : [],
//only leg items
"armorAdaptBackForceEffects" : [],
//only back items

//used to override any previous transformative effects to instill this one. Changes the body sub type to trigger different images intended for this effect.

"armorAdaptOverrideEffects" : ["armorAdapt_Override"], 

//used to override both the species and body type to change an armor's appearance. Completely replaces the species name with the effect name and sets the body type to Default. Hiding the body is turned on and only the images for the different appearance are shown. Can be used for costumes or disguises.

"armorAdaptHolidayEffects" : ["hotHolidayEvent"]
}
