{
"supportedSpecies" : [ "standard", "penguin", "lucario" ],

"vanillaBodySpecies" : [ "apex", "avian", "fenerox", "floran", "glitch", "human", "hylotl", "novakid", "shadow" ],

"customBodySpecies" : [ "penguin", "lucario" ],

"armorAdaptEffects" : [ "armorAdapt_resetBody" ], //used to override the body type of the armor to change an armor's appearance. Adds the effect name to the end of the regular body type to count as a different body type still under the same species. Used in the creation of armors that can switch forms or modes but still considers the different species and body types.

"armorAdaptSpeciesEffects" : [], //used to override the species listed but not body type to change an armor's appearance. Adds the effect name onto the end of the regular species name to count as a different species but still uses the body type or types for that species. Can be used to apply specific outfits with different looks for different species and body types. These outfits being the only option for appearance while effect is active. An example would be forcing a dunce costume for a joke that conforms to body shape.

"armorAdaptOverrideEffects" : ["armorAdapt_Override"], //used to override both the species and body type to change an armor's appearance. Completely replaces the species name with the effect name and sets the body type to Default. Hiding the body is turned on and only the images for the different appearance are shown. Can be used for costumes or disguises.

"adaptDirectivesMin" : 200, //the minimum character length of a directives recolor list to prevent image swapping. Can be adjusted to fit needs.

"showStartUp" : true,
"showShutDown" : true,

"showPlayerSpecies" : true,
"showPlayerBodyType" : true,
"showPlayerArmor" : true,
"showPlayerSupportedItem" : true,
"showPlayerBuildInfo" : true,
"showPlayerBuildCompletion" : true,

"showNpcSpecies" : true,
"showNpcBodyType" : true,
"showNpcArmor" : true,
"showNpcSupportedItem" : true,
"showNpcBuildInfo" : true,
"showNpcBuildCompletion" : true

}